*.pyc
*.so
*.o
**.DS_Store
**.vscode/
results/
data/
wandb/
**.ipynb_checkpoints
**__pycache__

scripts/
outputs/
slurm_logs/
test/
segment_classifier/segment_dataset

# Point RCNN
**/build
**/*.egg-info
**/dist
