*.pyc
*.so
*.o
**.DS_Store
**.vscode/
results/
slurm_logs/
data/
test/
wandb/
outputs/
**.ipynb_checkpoints
**__pycache__
hu-segmentation/kitti_raw_ts0
hu-segmentation/kitti_raw_ts1
hu-segmentation/kitti_raw_ts1_segmented
hu-segmentation/ts1_trial
hu-segmentation/semantic_kitti_ts0
hu-segmentation/semantic_kitti_ts1